body{
  background-image: url("../../img/bg.jpg");
}


ul{
  display: flex;
  justify-content: space-around;
}

li#title{
  max-width: 10%;
  border: 2px solid grey;
  border-radius: 10% 30% 50% 70%;
  background-color: lightblue;
  text-shadow: 1px 1px grey;
  list-style-type: none;
  text-align: center;
}

li#desc{
  max-width: 10%;
  border: 2px solid grey;
  border-radius: 30% 10% 70% 50%;
  background-color: lightblue;
  text-shadow: 1px 1px grey;
  list-style-type: none;
  text-align: center;
  font-size: 10px;
}


.container {
  width: 50%;
  min-height: 60vh;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1%;
  border: 2px solid grey;
  border-radius: 10% 10% 10% 10%;
  background-color: rgba(33, 150, 243, 0.5);
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}


.footer {
  min-height: 10vh;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  justify-content: space-around;

}
p.footerItems{
  margin: auto;
  text-shadow: 1px 1px grey;
}
