<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# the CSS file lives at "public/css/blog.css" #}
        <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>


        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}


        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <header>

            <ul>
              <li id="title"><p >Symfony Meteo App</p></li>
              <li id="desc"><p>Add an city name in the adresse bar after the last <strong>/</strong> in the url bar</p></li>
            </ul>

        </header>
        <section>
          <div class="container">
            <article>
              <label><h3>Requested City:</h3></label>
              <p class="item">{{ city }}</p>
            </article>
            <article>
              <label><h3>Latitude:</h3></label>
              <p class="item">{{ lat }}</p>
            </article>
            <article>
              <label><h3>Longitude:</h3></label>
              <p class="item">{{ long }}</p>
            </article>
            <article>
              <label><h3>State of Sky:</h3></label>
              <p class="item">{{ sky }}</p>
            </article>
            <article>
              <label><h3>Humidity:</h3></label>
              <p class="item">{{ hum }}</p>
            </article>
            <article>
              <label><h3>Intensity:</h3></label>
              <p class="item">{{ power }}</p>
            </article>
            <article>
              <label><h3>Temperature</h3></label>
              <p class="item">{{ temp }}</p>
            </article>
          </div>
        </section>
        <div class="footer">
          <p class="footerItems">Kazentoile by Wanalike 2022</p>
          <p class="footerItems">Gitlab: JeanSairien url</p>
        </footer>
        {% endblock %}
    </body>
</html>
